body{
	background: url("../img/main-background-xs.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	object-fit: cover;

}

.bgNav{
	background: url("../img/banner.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	object-fit: cover;

}



.hiddenRes {
	visibility: hidden;
}

.imgLoc{
	height: 200px;
	width: 80%;
}

#Restaurants {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
}

#Loc{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
}

#Events{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
}

.hideInfo{
		display: none;
	}
.Card{
	margin: 20px;
}
.navbar{
	justify-content: space-around;
}

.mycarousel{
	height: 500px;
}
