body{
	background: url("../img/main-background-xs.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	object-fit: cover;

}

.imgLoc{
	height: 300px;
	width: 100%;
}

#Loc{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.hideInfo{
		display: none;
	}
.Card{
	margin: 20px;
}
.navbar{
	justify-content: space-around;
}